.row {
  margin-top: 1%;
}
.col-auto {
  margin-left: 1%;
  max-width: 14vw;
}
.card {
  height: 45vh;
}

.card:hover{
  transform: scale(1.02, 1.02);
}
.card-img-top {
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 0px;
}

.card-header {
  text-align: center;
}

a:link, a:visited, a:hover, a:active {
  color: black;
  text-align: center;
  text-decoration: none;
}


#videoPlayer {
  width: 100% !important;
}