.card:hover{
  transform: scale(1.02, 1.02);
}
.card-img-top {
  height: 420px;
  width: 100%;
  object-fit: cover;
}

.card-body {
  padding: 0px;
  width: inherit;
}

.card-header {
  text-align: center;
}

.card {
  border: none;
}

a:link, a:visited, a:hover, a:active {
  color: black;
  text-align: center;
  text-decoration: none;
  float: left;
}

#movieFeed > a:link, a:visited, a:hover, a:active {
  width: 25vh;
}


#movieFeed {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

#root {
  background-color: white;
  min-height: 100vh;
}

.root-dark {
  background-color: #191c21;
  min-height: 100vh;
}

.card-dark {
  background-color: #444;
  color: whitesmoke;
}

.nav-dark {
  background-color: #444 !important;
}

.nav-dark > a {
  color: whitesmoke;
}

.nav-dark > ul > li > a{
  color: whitesmoke;
}