.card {
  margin-top: 5%;
  margin-left: 1%;
  max-width: 180px;
}

.card:hover{
  transform: scale(1.1, 1.1);
}
.card-img-top {
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 0px;
}

.card-header {
  text-align: center;
}

a:link, a:visited, a:hover, a:active {
  color: black;
  text-align: center;
  text-decoration: none;
}
